*{
padding: 2;
margin: 10;
font-family: Arial, Helvetica, sans-serif;
font-size: 150;
color: rgb(69, 8, 235);
background-color: rgb(166, 201, 148);

}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}











